# Importing Packages

In [4]:
from selenium import webdriver
import pandas as pd
import time

# Setting Up

In [5]:
# Naukri Site

naukri = "https://www.naukri.com/"
edge_path = "C:\webdrivers\msedgedriver.exe"

driver = webdriver.Edge(executable_path=edge_path)
driver.get(naukri)
driver.maximize_window()
time.sleep(1)

# Accepting Cookies

# Data We Want to Scrap

In [6]:
# Searching for Python Developers

n_search = driver.find_element_by_xpath('(//input[@class="sugInp"])[1]')
n_search.click()

time.sleep(1)

n_search.send_keys("Python Developer")

n_search_btn = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
n_search_btn.click()

time.sleep(10)

# Closing Assistant
cross_assist = driver.find_element_by_xpath('//div[@class="crossIcon chatBot chatBot-ic-cross"]')
cross_assist.click()
time.sleep(2)

In [7]:
# Fetching Data

# Job Titles
def job_role():
    name = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    names = [x.text for x in name]
    return names

# Company Name
def companies():
    company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    companys = [x.text for x in company]
    return companys

# Company Salary
def salaries():
    salary = driver.find_elements_by_xpath("//article/div[1]/div[1]/ul/li[2]/span")
    salarys = [x.text for x in salary]
    return salarys

# Company Location
def locating():
    location = driver.find_elements_by_xpath('//article/div[1]/div[1]/ul/li[3]/span[1]')
    locations = [x.text for x in location]
    return locations

# Experience 
def experts():
    experience = driver.find_elements_by_xpath('//article/div[1]/div[1]/ul/li[1]/span')
    experiences = [x.text for x in experience]
    return experiences

# Skills Needed 
def skills():
    skill = driver.find_elements_by_xpath('//article/ul')
    skills = [x.text for x in skill]
    skill_sliced = [skills[x].replace("\n", ", ") for x in range(len(skill))]
    return skill_sliced

names = []
companys = []
salarys = []
experiences = []
skills_needed = []

pages = 10

for x in range(pages):
    names += job_role()
    companys += companies()
    salarys += salaries()
    experiences += experts()
    skills_needed += skills()
    time.sleep(1)
    next_btn = driver.find_element_by_xpath('//section[2]/div[3]/a[2]/span')
    next_btn.click()
    time.sleep(5)

# Lists to Dictionary

In [8]:
data = {
  "Job Role" : names,
  "Company" : companys,
  "Salary" : salarys,
  "Experience(Yrs)" : experiences,
  "Skills" : skills_needed
}

# Dictionary to Pandas DataFrame

In [9]:

df = pd.DataFrame(data)
df

,Job Role,Company,Salary,Experience(Yrs),Skills
0,Senior Python Developer,Carta Healthcare,"20,00,000 - 30,00,000 PA.",5-8 Yrs,"Python, IT Skills, Software Development, Testi..."
1,Python Developer,Oracle India Pvt. Ltd.,Not disclosed,4-9 Yrs,"Spring Boot, Web Services, Python, Docker, Lin..."
2,Urgent Hiring For Python Developer in Tcs,Tata Consultancy Services Ltd.,Not disclosed,3-8 Yrs,"Pyspark, SQL Queries, Python, IT Skills, Djang..."
3,Python developer - Immediate joiners (Oct - Jo...,Capgemini Technology Services India Limited,Not disclosed,4-7 Yrs,"Angular, IT Skills, Python, Programming, pytho..."
4,AWS Python Developers,Deloitte Consulting India Private Limited,"2,00,000 - 7,00,000 PA.",2-7 Yrs,"Aws Iam, Microservices, Python, S3, Kinesis, F..."
...,...,...,...,...,...
196,Core Python Developer,Morgan Stanley Advantage Services,Not disclosed,3-5 Yrs,"Java Developer, Jenkins, Maven, Software Devel..."
197,Lead Python Developer- Django,Zymr Systems Pvt. Ltd.,Not disclosed,6-11 Yrs,"Microservices, SCRUM, Communication, Agile, de..."
198,Python Developer ( Networking),Introlligent Solutions Pvt Ltd,"15,00,000 - 16,00,000 PA.",2-5 Yrs,"TCP, Networking Protocols, Troubleshooting Ski..."
199,Lead Python Developer- Immediate Joiner,Zymr Systems Pvt. Ltd.,Not disclosed,5-10 Yrs,"NoSQL, Django, Python, Flask, SQL"
200,Python Developer,ICAV Tech Pvt. Ltd.,Not disclosed,2-7 Yrs,"AWS, Python, Flask, IT Skills, Java, Testing, ..."

# Cleaning the Data

In [10]:
df["Experience(Yrs)"] = df["Experience(Yrs)"].apply(lambda x : x.replace("Yrs",""))
df

,Job Role,Company,Salary,Experience(Yrs),Skills
0,Senior Python Developer,Carta Healthcare,"20,00,000 - 30,00,000 PA.",5-8,"Python, IT Skills, Software Development, Testi..."
1,Python Developer,Oracle India Pvt. Ltd.,Not disclosed,4-9,"Spring Boot, Web Services, Python, Docker, Lin..."
2,Urgent Hiring For Python Developer in Tcs,Tata Consultancy Services Ltd.,Not disclosed,3-8,"Pyspark, SQL Queries, Python, IT Skills, Djang..."
3,Python developer - Immediate joiners (Oct - Jo...,Capgemini Technology Services India Limited,Not disclosed,4-7,"Angular, IT Skills, Python, Programming, pytho..."
4,AWS Python Developers,Deloitte Consulting India Private Limited,"2,00,000 - 7,00,000 PA.",2-7,"Aws Iam, Microservices, Python, S3, Kinesis, F..."
...,...,...,...,...,...
196,Core Python Developer,Morgan Stanley Advantage Services,Not disclosed,3-5,"Java Developer, Jenkins, Maven, Software Devel..."
197,Lead Python Developer- Django,Zymr Systems Pvt. Ltd.,Not disclosed,6-11,"Microservices, SCRUM, Communication, Agile, de..."
198,Python Developer ( Networking),Introlligent Solutions Pvt Ltd,"15,00,000 - 16,00,000 PA.",2-5,"TCP, Networking Protocols, Troubleshooting Ski..."
199,Lead Python Developer- Immediate Joiner,Zymr Systems Pvt. Ltd.,Not disclosed,5-10,"NoSQL, Django, Python, Flask, SQL"
200,Python Developer,ICAV Tech Pvt. Ltd.,Not disclosed,2-7,"AWS, Python, Flask, IT Skills, Java, Testing, ..."

# Saving Data To Excel

In [11]:
df.to_excel('naukri_final.xlsx', index=False)