# Importing Packages

In [12]:
from selenium import webdriver
import pandas as pd
import time

# Setting Up

In [13]:
# Naukri Site

naukri = "https://www.naukri.com/"
edge_path = "C:\webdrivers\msedgedriver.exe"

driver = webdriver.Edge(executable_path=edge_path)
driver.get(naukri)
driver.maximize_window()
time.sleep(1)

# Accepting Cookies

# Data We Want to Scrap

In [14]:
# Searching for Python Developers

n_search = driver.find_element_by_xpath('(//input[@class="sugInp"])[1]')
n_search.click()

time.sleep(1)

n_search.send_keys("Python Developer")

n_search_btn = driver.find_element_by_xpath('//*[@id="root"]/div[3]/div[2]/section/div/form/div[3]/button')
n_search_btn.click()

time.sleep(10)

# Closing Assistant
cross_assist = driver.find_element_by_xpath('//div[@class="crossIcon chatBot chatBot-ic-cross"]')
cross_assist.click()
time.sleep(2)

In [23]:
# Fetching Data

# Job Titles
def job_role():
    name = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
    names = [x.text for x in name]
    return names

# Company Name
def companies():
    company = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
    companys = [x.text for x in company]
    return companys

# Company Salary
def salaries():
    salary = driver.find_elements_by_xpath("//article/div[1]/div[1]/ul/li[2]/span")
    salarys = [x.text for x in salary]
    return salarys

# Company Location
def locating():
    location = driver.find_elements_by_xpath('//article/div[1]/div[1]/ul/li[3]/span[1]')
    locations = [x.text for x in location]
    return locations

# Experience 
def experts():
    experience = driver.find_elements_by_xpath('//article/div[1]/div[1]/ul/li[1]/span')
    experiences = [x.text for x in experience]
    return experiences

# Skills Needed 
def skills():
    skill = driver.find_elements_by_xpath('//article/ul')
    skills = [x.text for x in skill]
    skill_sliced = [skills[x].replace("\n", ", ") for x in range(len(skill))]
    return skill_sliced

names = []
companys = []
salarys = []
experiences = []
skills_needed = []

for x in range(5):
    names += job_role()
    companys += companies()
    salarys += salaries()
    experiences += experts()
    skills_needed += skills()
    time.sleep(1)
    next_btn = driver.find_element_by_xpath('//section[2]/div[3]/a[2]/span')
    next_btn.click()
    time.sleep(5)

# Lists to Dictionary

In [24]:
data = {
  "Job Role" : names,
  "Company" : companys,
  "Salary" : salarys,
  "Experience" : experiences,
  "Skills" : skills_needed
}

# Dictionary to Pandas DataFrame

In [26]:

df = pd.DataFrame(data)
df

,Job Role,Company,Salary,Experience,Skills
0,Python Developer,Empower IT Systems Pvt Ltd,Not disclosed,4-8 Yrs,"automation, appium, Python, communication, IT ..."
1,Python Developer,L A Consultancy,Not disclosed,5-10 Yrs,"Pytorch, GitHub, Jenkins, API, TensorFlow, CV,..."
2,Python Developer,Concept Management,Not disclosed,2-5 Yrs,"IT Skills, Python, HTML, CSS, Javascript, Fron..."
3,Python Developer - SQL/JSON,Prime Infosoft,Not disclosed,3-5 Yrs,"IT Skills, Java, Python, Cloud, RESTful API, W..."
4,Python Developer,Hucon Solutions,Not disclosed,5-10 Yrs,"ORM, MongoDB, pySpark, RDBMS, HDFS, CSS3, Java..."
...,...,...,...,...,...
95,Python Developer,HawksCode,Not disclosed,0-2 Yrs,"assembly language, Six Sigma, JavaScript, Real..."
96,Python Developers,Fleming,Not disclosed,0-1 Yrs,"Python, OOPs Concept, Django, Core Python, IT ..."
97,Python Developer,Blueskies HR,Not disclosed,0-4 Yrs,Python
98,Python Developer,V P Placement,Not disclosed,0-3 Yrs,"CSS, Application programming, Django, MySQL, H..."
99,Python developer,HUSYS CONSULTING LIMITED,Not disclosed,0-2 Yrs,Python

# Cleaning the Data

# Saving Data To Excel